body {
    background-color: white;
    overflow-x: hidden;
}
.main {
    text-align: center;
    margin: auto;
    padding: 2%;
}

#want_wish {
    color: rgba(0, 0, 0, 0.40);
    font-family: 'Open Sans', sans-serif;
}

#get_wish {
    color: #f3836d;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    top: 90px;
}
#buttons{
    position: relative;
    top: 160px;
}
.button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.60);
    background-color: white;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 8px;
    width: 180px;
    padding: 20px 16px;
    border: 2px solid #f3836d;
}

.button:hover {
    background-color: #f3836d;
    opacity: 0.7;
    color: white;
}

.button:focus {outline:0;}

#send_btn {
    cursor: pointer;
    position: relative;
    top: 170px;
    right: 250px;
}

.sending, #send_btn:hover .send{
    display:none;
    opacity: 0.7;
}
.send, #send_btn:hover .sending{
    display:inline;
    opacity: 0.7
}
#socialbtns{
    position: relative;
    top: 210px;
}
.icon {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin: 4px;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
}

.icon-mono {
    background: url("img/icons1.png");
    background-image: url("img/icons1.svg"), none;
    background-color: #666666;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

/* facebook */
.icon-mono.facebook {
    background-position: 0 0;
}

.icon-mono.facebook:hover {
    background-color: #3b5998;
    background-position: 0 -96px;
}

/* twitter */
.icon-mono.twitter {
    background-position: -96px 0;
}

.icon-mono.twitter:hover {
    background-color: #4099ff;
    background-position: -96px -96px;
}

/* google plus */
.icon-mono.googleplus {
    background-position: -192px 0;
}

.icon-mono.googleplus:hover {
    background-color: #d34836;
    background-position: -192px -96px;
}





